<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h4 class="title about">Sobre o projeto</h4>
      <h1 class="title project">Cante os Salmos</h1>
      <p class="title version">
        Versão: 1.0.2
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">

    <div class="info">

      <p> &nbsp;&nbsp; O projeto de aplicativo <em>Cante os Salmos</em> é uma iniciativa da <a href="https://iprcampobom.com.br/">Igreja Presbiteriana 
        Reformada de Campo Bom</a>, localizada no município de Campo Bom, RS. A ferramenta é gratuita e não possui fins lucrativos. O objetivo
        é estritamente auxiliar a Igreja de Cristo na prática do louvor a Deus.
      </p>
  
      <p>&nbsp;&nbsp;Na IPR Campo Bom é fixado o entendimento de que o livro dos Salmos é a palavra de Deus escrita para ser cantada e que é próprio da
        Igreja de Cristo adicionar o canto dos salmos em seu dia a dia, no culto doméstico, nas devocionais, etc. A prática da salmodia fortalece a fé,
        solidifica o entendimento teológico e confirma o Reino de Cristo.
      </p>
  
      <p>&nbsp;&nbsp;Abaixo, deixamos um breve resumo do estudo sobre os Salmos, que pode ser lido na íntegra no blog 
        <a href="https://catequesepresbiteriana.com/" target="blank">"Catequese Presbiteriana"</a>.</p>
        
  <br>
       <hr style="height: 1px; background-image: linear-gradient(to right, white, black, white);">

       <br>
            <h5 style="word-break: normal;">Sobre o</h5>
            <h2>Livro dos Salmos</h2>
            
            <h6>Por Rev Frank Brito</h6>

      <p> &nbsp;&nbsp; O Livro dos Salmos é o livro do Velho Testamento que o Novo Testamento cita com mais frequência. A palavra salmo
        vem do grego (ψαλμός – psalmos) e significa cântico. O Livro dos Salmos é uma coletânea de 150 cânticos inspirados por Deus.
        Como cânticos dados diretamente pelo Espírito Santo,  os salmos podem ser usados como poderosas ferramentas para promover a
        instrução catequética.</p>
  
      <p>&nbsp;&nbsp;Atanásio de Alexandria já ensinava no século 4: “Toda a nossa Escritura, filho meu, tanto do Antigo como do Novo
        Testamento, é, tal como está escrito, inspirada por Deus e útil para ensinar (2 Timóteo 3:16). Porém, o livro dos Salmos, se
        feita uma reflexão atenta, possui algo que merece uma especial atenção. Cada um dos livros, com efeito, nos oferece e nos entrega
        seu próprio ensinamento: O Pentateuco, por exemplo, relata o começo do mundo e a vida dos Patriarcas, a saída de Israel do Egito,
        como também a entrega da Lei. O Triteuco relata a distribuição da terra, as façanhas dos Juízes, como também a genealogia de Davi.
        Os livros dos Reis e das Crônicas relatam os feitos dos reis. Esdras descreve a libertação do cativeiro, o retorno do povo, a
        reconstrução do templo e da cidade. Os livros dos Profetas predizem a vinda do Salvador, recordam os Mandamentos, advertem e
        exortam aos pecadores, como também profetizam acerca das nações. O livro dos Salmos é como um jardim em cujo solo crescem todas
        estas plantas…” (Atanásio de Alexandria, Carta a Marcelino sobre a Interpretação dos Salmos).</p>

      <p>&nbsp;&nbsp;O Senhor Jesus ensinou que não é suficiente que a palavra pregada seja escutada com os ouvidos físicos.
        É necessário que a palavra pregada finque raízes profundas no coração (Mateus 13:1-9, 18-23). Além disso, Jesus advertiu que,
        quando ouvimos a palavra sendo pregada,  demônios se esforçam para tentar impedir que isso aconteça: “Ouvindo alguém a palavra
        do reino, e não a entendendo, vem o maligno, e arrebata o que foi semeado no seu coração; este é o que foi semeado ao pé do
        caminho” (Mateus 13:9).</p>

      <p>&nbsp;&nbsp;No culto público, o canto também deve ser associado ao ensino. Como o livro dos Salmos “é como um jardim em cujo solo
        crescem” todos os tipos de “plantas” da Palavra de Deus (Atanásio de Alexandria), se a pregação realmente for bíblica, toda
        pregação terá salmos que correspondem ao assunto da pregação.</p>

      <p>&nbsp;&nbsp;(Texto completo no blog 
        <a href="https://catequesepresbiteriana.com/2019/08/14/sobre-o-uso-dos-salmos-na-instrucao-catequetica-e-no-culto-publico/" target="blank">
          "Catequese Presbiteriana"
        </a>).</p>

        <br><br><br>
  
      <button class="voltar" routerLink="/tabs/tab1">Voltar</button>
  
  
    </div>
  
  </div>
</ion-content>
